#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

main{
  min-height: 80vh;
  padding: 2rem;
}
.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
.orange-text
{
  color: rgb(227, 107, 8);
}
.orange-bg
{
  background-color: rgba(227, 114, 22, 0.3);
}
.bg-orange
{
  background-color: rgb(227, 107, 8);
}
.border-orange
{
 border: 1px solid rgb(255, 136, 0);
}
.w-35
{
  width: 120px;
}
.dark
{
background-color: #161616; 
}
.border-grey
{
  border: 1px solid #454444;
}
.card
{
  position: relative;
  top: 100px;
  left: 90px;
  z-index: 1;

}
.img-2
{
  position: relative;
  
}
.mt-10
{
  margin-top: 100px;
}
.w-15
{
  width: 190px;
}
.w-20
{
  width: 220px;
}
.w-10
{
  width: 100px;
}
.w-5
{
  width: 60px;
}
.h-15
{
  height: 300px;
}
.grey
{
  background-color: #3e3e3eaa;
}